# Visual Studio 빌드 출력 폴더
bin/
obj/
Debug/
Release/

# 임시 파일
*.tmp
*.log
*.tlog
*.plg

# 사용자별 설정
*.user
*.suo
*.ncb

# 기타 Visual Studio 관련 파일
*.aps
*.res
*.pch
*.pdb

# Visual Studio 인덱스 및 캐시 파일
*.vsidx
*.db
*.json
*.ipch

# Visual Studio 임시 IDE 파일
.vs/
